<h4 class="bg-primary p-2 text-center text-white">Edit Course</h4>
<div  class="container mt-5 w-50">
    <div [formGroup]="editCourseForm" >
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Course Id</label>
                <div class="col-sm-5">
                      <input
                          type="text"
                          id="id"
                          [readonly]="true"
                          formControlName="id"
                          class="form-control"
                       >
                  </div>
              </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Course Name</label>
              <div class="col-sm-5">
                    <input
                        type="text"
                        id="CourseName"
                        autofocus
                        formControlName="CourseName"
                        class="form-control"
                       >
                    <span
                        *ngIf="editCourseForm.get('CourseName').invalid && editCourseForm.get('CourseName').touched"
                        class="text-danger">
                        This field required a Course Name!
                    </span>
                </div>
            </div>
            <button (click)="onUpdate()" class="m-2 btn btn-primary">Update</button>
            <button (click)="onCancel()" class="m-2 btn btn-primary">Cancel</button>
        </div>
</div>

