<!-- <app-header></app-header> -->
<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>I'm Workin</h2>
        </div>
    </div>
</div> -->
<div class="row ">
    <div class="col-12">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

                    <ul class="navbar-nav">
                        <li  routerLinkActive="active" class="nav-link"><a  routerLink="courses">Courses</a></li>
                        <li routerLinkActive="active" class="nav-link"><a  routerLink="students">Students</a></li>
                       
                    </ul>
 
    </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
</div>  